@page
@model RazorPagesUI.AddProgressModel
@{
    ViewData["Title"] = "Project Progress";
}

<h1 class="display-4">Project Progress</h1>
<p class="lead">Progress on all projects is reported daily.</p>


<div class="card mb-3">
  <img class="card-img-top" src="https://res.cloudinary.com/springboard-images/image/upload/q_auto,f_auto,fl_lossy/wordpress/2019/07/sb-blog-programming.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Project #1</h5>
    <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 55%;" aria-valuenow="" aria-valuemin="0" aria-valuemax="100">55%</div></div>
    <p class="card-text">Programming Club Membership Database.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    <a <button type="button" class="btn btn-outline-success">Success</button></a>
  </div>
</div>

<div class="card mb-3">
  <img class="card-img-top" src="https://media.defense.gov/2014/Jun/09/2000800548/780/780/0/130304-F-NW635-525.JPG" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Project #2</h5>
    <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">30%</div></div>
    <p class="card-text">Volunteer Firefighter Website for AFD</p>
    <p class="card-text"><small class="text-muted">Last updated 5 days ago</small></p>
    <a <button type="button" class="btn btn-outline-warning">Warning</button></a>
  </div>
</div>

<div class="card mb-3">
  <img class="card-img-top" src="https://images2.minutemediacdn.com/image/upload/c_crop,h_1192,w_2122,x_0,y_74/f_auto,q_auto,w_1100/v1575329078/shape/mentalfloss/609640-gettyimages-802480150.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Project #3</h5>
    <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">90%</div></div>
    <p class="card-text">Animal Shelter Adoption Site</p>
    <p class="card-text"><small class="text-muted">Last updated 2 days ago</small></p>
    <a <button type="button" class="btn btn-outline-danger">Danger</button></a>
  </div>
</div>


